<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body><center><div style="color: teal; font-size: 20px;font-family:AR BLANCA">
<form>
<table>
<tr>
<td>Title of the blog post</td>
<td><input type="text" class="w3-input" ng-model="blog.title"></td>
</tr>

<tr>
<td>Content</td>
<td><textarea rows="10" cols="50" class="w3-input" ng-model="blog.body"></textarea>
</tr>
<tr>
<td></td>
<td><input type="submit" ng-click="saveBlogPost()" value="Add Post"></td>
</tr>
</table>
</form></div></center>
</body>
</html>
