<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body><!-- <center><div style="color: teal; font-size: 20px;font-family:AR BLANCA"> -->
<div class="w3-container w3-center w3-animate-zoom">
<div class="row">
<div>
<div class="panel panel-default">
<div class="panel-heading">
<div>{{blogPost.title}}</div>
<span><strong>Created By:</strong>{{blogPost.createdBy.username}}</span>
 <span><strong>on: </strong>{{blogPost.createdOn | date:'medium'}}</span>
          
          </div>
          <div class="panel-body">
          {{blogPost.body}}
          
          </div>
</div>
</div>
</div>

<div >
<form>
<input type="radio" ng-model="blogPost.approved" value="true">Approve<br>
<input type="radio" ng-model="blogPost.approved" value="false"> Reject<br>
<a href="" ng-click="updateApproval()" class="btn btn-default">Update</a>
<a href="#getAllBlogs" class="btn btn-default">Back</a>
</form>
</div></div>
</body><!-- </center></div> -->
</html>
