<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<title>Insert title here</title>
</head>
<body><div style="color: teal; font-size: 20px;font-family:AR BLANCA"><center>
{{message}}
<form>
<table>
<tr>
<td> USERNAME</td>
<td><input type="text" class="w3-input" ng-model="user.username"></td>
</tr>

<tr>
<td>PASSWORD</td>
<td><input type="password" class="w3-input" ng-model="user.password"></td>
</tr>

<tr><td><input type="submit" class="w3-input" ng-click="login()" value="Sign In"></td><td></td></tr>

</table></div>

</form>
<!-- <a href="#register">Sign up</a> -->
</body></center>
</html>


 