<html>
<head>
<title>RegisterUser</title>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
<center><div style="color: teal; font-size: 20px;font-family:AR BLANCA">
{{message}}
<form>
<table>
<tr><td> USERNAME</td><td><input type="text" class="w3-input" ng-model="user.username"></td></tr>
<tr><td>PASSWORD</td><td><input type="password" class="w3-input" ng-model="user.password"></td></tr>
<tr><td>EMAIL</td><td><input type="text" class="w3-input" ng-model="user.email"></td></tr>
<tr><td>ROLE</td><td><input type="radio" ng-model="user.role" value="Student">Student
<input type="radio" ng-model="user.role" value="Alumini">Alumini
<input type="radio" ng-model="user.role" value="Employee">Employee
</td></tr>

<tr><td><input type="submit" ng-click="registerUser()" ></td><td></td></tr>
</table>
</form></center>
</div>
</body>
</html>